body{
    background-color: rgb(28, 34, 41);
    margin: 0;
    padding: 0;
    
}
section{
    background-color: rgb(0, 0, 0);
    
    
    margin-bottom: 400px;
    height: 352px;
    width: 352px;
    
    margin: auto;
  
  
  

}
.container{
  align-items: center;
    display: grid;
      
    
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 110px 110px 110px;
    
    gap: 6px;
    
    
   
    
    
    
   
    
} 
.cell0{
    aspect-ratio: 1 / 1;
    
    background-color: rgb(226, 226, 226);
    
}
.celltext{
    text-align: center;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin: auto;
    font-weight: bold;
    
}
